@media (min-width: 768px) .container {
  max-width: 720px;
}

@media (min-width: 576px) .container {
  max-width: 540px;
}
.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
